.button {
  @extend .radius;

  display: inline-block;
  padding: 1rem 1.5rem;
  background: get-color('primary');
  border-radius: 0.75rem;
  color: get-color('light-glare');
  box-shadow: 0 2px 0 0 get-color('primary-shade');
  text-decoration: none;
  text-align: center;

  // Make sure hover state trumps all variants with a good ol’ important
  &:hover {
    background: get-color('primary-shade') !important;
    color: get-color('light-glare') !important;
  }

  // Add a ghost modifier
  &[data-variant='ghost'] {
    background: transparent;
    color: get-color('quaternary-glare');
  }
}
