ul.card-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  list-style: none;
  padding-left: 0;
  margin-bottom: get-size('300');

  @include media-query('md') {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: get-size('400');
  }
}

.card {
  margin-bottom: get-size('600');

  @include media-query('sm') {
    margin-bottom: get-size('700');
  }
}

.card__img {
  margin-bottom: get-size('400');

  @include media-query('sm') {
    margin-bottom: get-size('500');
  }
}

.card__title {
  font-size: get-size('450');
  line-height: 1.4;
  margin-bottom: get-size('200');
  padding: 0;

  @include media-query('sm') {
    font-size: get-size('500');
    margin-bottom: get-size('300');
  }
}

.card__description {
  margin-bottom: 0;
}

.card--clickable {
  &:hover{ 
    cursor: pointer;
  }
}