ul.card-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-auto-rows: auto;
  grid-gap: 0;
  list-style: none;
  padding-left: 0;
  margin-bottom: get-size('300');

  @include media-query('sm') {
    grid-template-columns: repeat(auto-fill, 50%);
    margin-bottom: get-size('400');
  }
}

.card {
  margin-bottom: get-size('600');

  @include media-query('sm') {
    margin-bottom: get-size('700');
  }
}

.card__img {
  margin-bottom: get-size('500');

  @include media-query('sm') {
    margin-bottom: get-size('500');
  }
}

.card__title {
  font-size: get-size('450');
  margin-bottom: get-size('200');

  @include media-query('sm') {
    font-size: get-size('500');
    margin-bottom: get-size('300');
  }
}

.card__description {
  margin-bottom: 0;
}

.card--clickable {
  &:hover{ 
    cursor: pointer;
  }
}