.hero {
  background: get-color('light');
  margin-top: -4px;
  padding: get-size('800') 0;

  @include media-query('sm') {
    padding: get-size('major') 0;
  }

  .hero--wrapper{
    @include media-query('lg') {
      width: 50%;
    }
  }
}

.hero__header {
  margin-bottom: get-size('600');

  @include media-query('md') {
    margin-bottom: get-size('600');
  }
}