.site-head {
  border-bottom: 1px solid get-color('light-shade');
  padding: get-size('500') 0;
}

.site-head__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-head__brand {
  color: get-color('dark-shade');
  flex-shrink: 0;
  font-size: get-size('500');
  font-weight: 700;
  margin-inline-end: get-size('600'); // Prevents nav bunching up to the logo
  text-decoration: none;
}

.site-head__nav {
  padding: get-size('300') 0;
}