{% extends "layouts/base.html" %} 

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">Biodiversity Net Gain Register - Alpha</h1>
  <p class="intro work__description">Interaction design for a new Biodiversity Net Gain Register, advancing nature's recovery by supporting housing development and increasing habitats across England by 10%. </p>

  <div class="img-group work__img">
    <img class="work__img" src="/images/work/bng.png" alt="">
    <img class="work__img" src="/images/work/bng/bng-2.png" alt="">
  </div>

  <h2>The challenge</h2>
  <p>The Environment Act (2021) requires developers to deliver a 'biodiversity net gain' as a condition of their planning permission. To deliver biodiversity gains, habitats can be enhanced on the developers own building site, or at an off-site location, by paying a landowner to manage their land for nature recovery.</p>
  <p>The problem we tried to solve; How do we collect data about off-site biodiversity gains and enable Government and local planning authorities to check that they are legitimate, accountable, and transparent?</p>

  <h2>What we did</h2>
  <p>Working as a multi-discplinary team, we used design thinking methodolgy to help understand and solve the problems.</p>

  <h3>Identified riskiest assumptions</h3>
  <p>We began the project by identifying our riskiest assumptions, giving the team focus.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-assumptions.png" alt="">
    <figcaption class="fig__caption">Assumption mapping workshop using Miro.</figcaption>
  </figure>

  <h3>Mapped out 'as-is' journeys</h3>
  <p>To understand how biodiversity net gain was currently working, I mapped out our users current journey.</p>
  <p>To create the map, I first facilitated workshops involving the business, policy and subject matter experts.</p>
  <p>We then validated and iterated the map with several rounds of user research. This gave us a good understanding of our users, uncovered pain points and identified opportunities.</p>
  
  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-lpa-as-is-journey-map.jpg" alt="">
    <figcaption class="fig__caption">As-is journey map for LPA's based on research sessions Sept 2021.</figcaption>
  </figure>

  <h3>Team brainstorm</h3>
  <p>I facilitated design workshops involving the entire team, creating a shared understanding of the problem and generating lots of ideas for solving the problem.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-workshop.png" alt="">
    <figcaption class="fig__caption">A workshop I facilitated remotely to generate ideas on how solve a problem on capturing land data.</figcaption>
  </figure>

  <h3>Learning by prototyping</h3>
  <p>I built lots of HTML prototypes to test our ideas with users.</p>
  
  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-prototype.png" alt="">
    <figcaption class="fig__caption">A design decisions log we kept in the team's Confluence space.</figcaption>
  </figure>

  <p>I kept track of all our design hypotheses and research findings in a design decisions log. This proved extremely useful when preparing for our GDS assessment.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-design-decisions.png" alt="">
    <figcaption class="fig__caption">A design decisions log we kept in the team's Confluence space.</figcaption>
  </figure>

  <h2>Result</h2>
  <p>We passed our GDS Alpha service assessment in March 2022.</p>

  <figure class="fig">
    <img class="fig__img" src="/images/work/bng/bng-mission-patches.png" alt="">
    <figcaption class="fig__caption">A set of mission patches I designed for the service.</figcaption>
  </figure>

</div>

{% endblock %}
