{% extends "layouts/base.html" %} 

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">Biodiversity Net Gain Register - Alpha</h1>
  <p class="intro work__description">Interaction design for a new Biodiversity Net Gain Register, advancing nature's recovery by supporting housing development and increasing habitats across England by 10%. </p>

  <div class="img-group work__img">
    <img class="work__img" src="/images/work/bng.png" alt="">
    <img class="work__img" src="/images/work/bng/bng-2.png" alt="">
  </div>

  <h2>The challenge</h2>

  <h2>What we did</h2>

  <h3>Mapped out 'as-is' journeys</h3>
  <p>To understand the current landscape, uncover pain points and identify opportunities, we mapped out our users current journey.</p>
  <p>To create a first draft of the map, I facilitated workshops involving people from the business, policy and subject matter experts.</p>
  <p>We then validated and iterated our map after several rounds of user research, resulting in an increased understanding of our users and their pain points.</p>
  <img class="work__img work__img--border" src="/images/work/bng/bng-lpa-as-is-journey-map.jpg" alt="">

  <h3>Facilitated design workshops</h3>
  <img class="work__img work__img--border" src="/images/work/bng/bng-workshop.png" alt="">

  <h3>Built prototypes</h3>
  <img class="work__img work__img--border" src="/images/work/bng/.png" alt="">

  <h2>Result</h2>
  <p>We passed our Alpha service assessment in March 2022 and moved into the Beta phase.</p>

</div>

{% endblock %}
