{% extends "layouts/base.html" %} 

{% block mainInner %}

<div class="wrapper">

  <h1 class="work__header">Biodiversity Net Gain Register - Alpha</h1>
  <p class="intro work__description">Interaction design for a new Biodiversity Net Gain Register, advancing nature's recovery by supporting housing development and increasing habitats across England by 10%. </p>

  <div class="img-group work__img">
    <img class="work__img" src="/images/work/bng.png" alt="">
    <img class="work__img" src="/images/work/bng/bng-2.png" alt="">
  </div>

  <h2>The challenge</h2>
  <p>The Environment Act (2021) requires developers to deliver a 'biodiversity net gain' as a condition of their planning permission. To deliver biodiversity gains, habitats can be enhanced on the developers own building site, or at an off-site location, by paying a landowner to manage their land for nature recovery.</p>
  <p>The problem we tried to solve; How do we collect data about off-site biodiversity gains and enable Government and local planning authorities to check that they are legitimate, accountable, and transparent?</p>

  <h2>What we did</h2>
  <p>Working as part of a multi-discplinary team, we used design thinking methodolgy to help understand and solve the problems.</p>

  <h3>Identified our riskiest assumptions</h3>
  <p>We began the project by identifying our riskiest assumptions, which gave the team focus.</p>
  <img class="work__img work__img--border" src="/images/work/bng/bng-assumptions.png" alt="">

  <h3>Mapped out 'as-is' journeys</h3>
  <p>To help us understand how biodiversity net gain was currently working, uncover pain points and identify opportunities, I mapped out our users current journey.</p>
  <p>I facilitated workshops involving the business, policy and subject matter experts to create the first iteration of the map.</p>
  <p>We then validated and iterated the map with several rounds of user research. Giving us a good understanding of who are users are and their needs.</p>
  <img class="work__img work__img--border" src="/images/work/bng/bng-lpa-as-is-journey-map.jpg" alt="">

  <h3>Team brainstorm</h3>
  <p>I facilitated design workshops involving the entire team, creating a shared understanding of the problem and generating lots of ideas for solving that problem.</p>
  <img class="work__img work__img--border" src="/images/work/bng/bng-workshop.png" alt="">

  <h3>Learned by prototyping</h3>
  <p>I built lots of HTML prototypes to test our ideas with users.</p>
  <div class="img-group work__img">
    <img class="work__img work__img--border" src="/images/work/bng/bng-flows.png" alt="">
    <img class="work__img work__img--border" src="/images/work/bng/bng-prototype.png" alt="">
  </div>

  <p>I kept track of all our design hypotheses and research findings in a design decisions log. This proved extremely useful when preparing for our GDS assessment.</p>
  <img class="work__img work__img--border" src="/images/work/bng/bng-design-decisions.png" alt="">

  <h2>Result</h2>
  <p>We passed our GDS Alpha service assessment in March 2022.</p>

  <img class="work__img work__img--border" src="/images/work/bng/bng-mission-patches.png" alt="">

</div>

{% endblock %}
