{% extends "layouts/base.html" %} 

{% block hero %}
<section class="hero">
  <div class="wrapper">
    <div class="hero--wrapper">
      <h1 class="hero__header">Hi, I'm Dave</h1>
      <p class="intro intro--bold">Interaction / UX designer</p>
      <p class="intro no-margin">I enjoy solving complex problems using design, research and technology to deliver products that meet user and business needs.</p>
    </div>
  </div>
</section>
{% endblock %}

{% block mainInner %}

<div class="wrapper">
  <h2>Work</h2>
  <ul class="card-group">
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/portfolio_nhs_service_manual.png" alt="">
      <h3 class="card__title">
        <a href="/work/nhs-digital-service-manual">NHS digital service manual</a>
      </h3>
      <p class="card__description">Building a design system for the NHS.</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/portfolio_lcc.png" alt="">
      <h3 class="card__title">
        <a href="/work">Leeds City Council</a>
      </h3>
      <p class="card__description">Redesigning leeds.gov.uk in a user-centered way.</p>
    </li> 
  </ul>

  <p><a class="button" href="/work">See more work</a></p>

</div>

{% endblock %}
