{% extends "layouts/base.html" %} 

{% block mainInner %}

<div class="wrapper">
  <h1>Work</h1>

  <ul class="card-group">
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/bng.png" alt="">
      <h3 class="card__title">
        <a href="/work/biodiversity-net-gain-register">Biodiversity Net Gain Register</a>
      </h3>
      <p class="card__description">Leading interaction design for a successful GDS Alpha service assessment.</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/nhs_service_manual.png" alt="">
      <h3 class="card__title">
        <a href="/work/nhs-digital-service-manual">NHS digital service manual</a>
      </h3>
      <p class="card__description">Building a design system for the NHS.</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/nhs_service_manual.png" alt="">
      <h3 class="card__title">
        <a href="/work/the-nhs-website">The NHS website</a>
      </h3>
      <p class="card__description">Redesigning the NHS website, making it more accessible.</p>
    </li>
    <li class="card card--clickable">  
      <img class="card__img" src="/images/work/lcc.png" alt="">
      <h3 class="card__title">
        <a href="/work/leeds-city-council-website">Leeds City Council</a>
      </h3>
      <p class="card__description">Redesigning leeds.gov.uk based on user needs.</p>
    </li>
  </ul>

  <p><a class="button" href="/images/work/David Hunter - Interaction Designer - CV June 2022.pdf">Download my CV (PDF, 78 KB)</a></p>

</div>

{% endblock %}
