// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

// Import blocks
@import 'blocks/definition-group';
@import 'blocks/tags-list';

// Import utilities
@import 'utilities/helpers';
@import 'utilities/site-wrap';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Global styles start
:root {
  --flow-space: #{get-size('600')};
}

body {
  background: get-color('light');
  color: get-color('dark-shade');
  line-height: 1.5;
  font-size: get-size('400');

  @include apply-utility('font', 'base');

  @include media-query('md') {
    font-size: get-size('450');
  }
}

a:not([class]) {
  color: get-color('primary');
  text-decoration-color: get-color('primary');
}

:focus {
  outline: 2px dashed get-color('primary');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {

  color: get-color('primary');
  font-weight: 700;

  @include apply-utility('font', 'sans');
  @include apply-utility('leading', 'flat');
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color('light');

  // We set this as an RGBA because that’s how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color('dark-shade'), 0.99);
}

// Scrollbar styles
::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid get-color('dark-glare');
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: get-color('dark');
  border-radius: 0.25rem;
}

@import 'blocks/site-foot';
@import 'blocks/site-head';
@import 'blocks/nav';
@import 'blocks/button';
@import 'blocks/skip-link';
@import 'blocks/card';
@import 'blocks/hero';

.main {
  background: get-color('light-glare');
  padding: get-size('700') 0;

  @include media-query('sm') {
    padding: get-size('800') 0;
  }
}

a {
  color: get-color('secondary');
  font-weight: bold;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.15em;

  &:hover {
    color: get-color('primary-shade');
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
  }
}

h1 {
  font-size: get-size('800');
  margin-bottom: get-size('700');

  @include media-query('md') {
    font-size: get-size('900');
    margin-bottom: get-size('800');
  }
}

h2 {
  font-size: get-size('600');
  margin-bottom: get-size('400');

  @include media-query('md') {
    font-size: get-size('700');
    margin-bottom: get-size('500');
  }
}

h3 {
  font-size: get-size('500');
  margin-bottom: get-size('400');

  @include media-query('md') {
    font-size: get-size('600');
    margin-bottom: get-size('500');
  }
}

p {
  margin-bottom: get-size('600');
  max-width: 44rem;

  + h2 {
    padding-top: get-size('600');
  }
}

.secondary-text {
  color: get-color('dark-glare');
}

.intro {
  font-size: get-size('450');

  @include media-query('md') {
    font-size: get-size('500');
  }
}

.intro--bold {
  font-weight: bold;
}

.link--primary {
  color: get-color('primary');
  text-decoration-color: get-color('primary');
}

.text-muted {
  color: get-color('dark');
}

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: get-size('400');

  @include media-query('md') {
    font-size: get-size('450');
  }
}

ul.list-group {
  margin-bottom: get-size('800');
  padding-top: get-size('400');
}

.list-group__item {
  margin-bottom: get-size('700');

  > * {
    margin-bottom: get-size('250');
  }
}

.work__header {
  margin-bottom: get-size('400');

  @include media-query('md') {
    margin-bottom: get-size('500');
    max-width: 75%;
  }
}

.work__description {
  margin-bottom: get-size('700');

  @include media-query('md') {
    margin-bottom: get-size('800');
    max-width: 75%;
  }
}

.work__img {
  margin-bottom: get-size('600');

  @include media-query('md') {
    margin-bottom: get-size('700');
  }
}

.work__img--border {
  border: 4px solid  get-color('light-shade');
}

.img-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-bottom: get-size('600');

  @include media-query('md') {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: get-size('700');
  }

  img {
    margin-bottom: 0;
  }
}

img + h3,
img + h2,
p + h3,
p + h2 {
  padding-top: get-size('400');

  @include media-query('md') {
    padding-top: get-size('500');
  }
}